* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scale: none;
  zoom: unset;
}
.page-wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 306vh;
  width: 100%;
}
main {
  padding: 1rem 3rem;
  background-color: rgb(255, 232, 186);
}
header {
  padding: 1rem 3rem;
  background-color: rgb(255, 232, 186);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 70px;
}
.burger-btn-wrapper {
  width: 2rem;
  display: none;
}

.burger-btn-wrapper img {
  width: 100%;
}
.trolley-container a {
  text-decoration: none;
  color: black;
}
.trolley-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.trolley {
  height: 30px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 1rem;
}
.web-name {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 6rem;
}

header span a {
  text-decoration: none;
}
hr {
  border: none;
  background-color: black;
  height: 1px;
}
.main-dog {
  padding: 1rem 3rem;
  width: 100%;
  height: 50%;
  border-radius: 100px;
}
h1 {
  padding: 1rem 3rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
  font-size: 5rem;
  text-align: center;
  line-height: 6rem;
  font-weight: 400;
}
.about {
  padding: 1rem 3rem;
  background-color: rgb(255, 232, 186);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.welcome-1 {
  padding: 1rem 3rem;
  font-size: 3.5rem;
  font-weight: 400;
  padding-right: 8rem;
  padding-top: 3rem;
}

.text {
  font-weight: 400;
  font-size: 1rem;
  padding-left: 13rem;
  padding-top: 3.4rem;

  line-height: 1.2rem;
}
.learn {
  font-weight: 400;
  padding-left: 13rem;
  color: black;
  display: flex;
  padding-top: 1rem;
}
.collar {
  padding: 1rem 3rem;
  background-color: rgb(255, 232, 186);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5rem;
  position: relative;
}
.collar-dog {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding-left: 5.5rem;
  padding-top: 4rem;
}

.collar-neckles > img {
  height: 450px;
  width: 75%;
  object-fit: cover;
  display: flex;
  padding: 1rem 5rem;
  top: 220px;
  left: 85px;
}
.collar-neckles-1 {
  position: relative;
}
.collar-neckles {
  position: relative;
}
.collar-button {
  position: absolute;
  transform: translate(-20rem -20rem);
  font-size: 20px;
  opacity: 0;
  margin-left: 18rem;
  margin-top: 9.5rem;
}
.collar-button:hover {
  position: absolute;
  font-size: 20px;
  background-color: black;
  color: white;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  opacity: 1;
}
.collar-neckles .collar-button {
  padding: 0.8rem;
  font-size: 0.8rem;
  position: absolute;
}
.price {
  padding-top: 13.5rem;
  line-height: 1.2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding-left: 1rem;
}
.price a {
  text-decoration: none;
  color: black;
}
.belts {
  padding: 1rem 3rem;
  padding-top: 2rem;
  background-color: rgb(230, 216, 249);
  height: 630px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-wrap: wrap;
}
.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.green-belt {
  height: 390px;
  padding-bottom: 1rem;
}
.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.brown-belt {
  height: 390px;
  padding-bottom: 1rem;
}
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.purple-belt {
  height: 390px;
  padding-bottom: 1rem;
}
.shop-1 {
  background-color: rgb(230, 216, 249);
  color: black;
  border-radius: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 9px;
}

.shop-1:hover {
  font-size: 1.2rem;
  background-color: black;
  color: rgb(230, 216, 249);
  transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-delay: 0.155556s;
  opacity: 1;
}
.shop-2 {
  background-color: rgb(230, 216, 249);
  color: black;
  border-radius: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 9px;
}
.shop-2:hover {
  font-size: 1.2rem;
  background-color: black;
  color: rgb(230, 216, 249);
  transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-delay: 0.155556s;
  opacity: 1;
}

.shop-3 {
  background-color: rgb(230, 216, 249);
  color: black;
  border-radius: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 9px;
}
.shop-3:hover {
  font-size: 1.2rem;
  background-color: black;
  color: rgb(230, 216, 249);
  transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-delay: 0.155556s;
  opacity: 1;
}
h3 {
  display: flex;
  gap: 2rem;
  font-weight: 400;
  line-height: 2rem;
}
.friends {
  padding: 1rem 3rem;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url(./background\ texture.jpg);
}
.text-1 {
  text-align: center;
  font-size: 3.8rem;
  padding-top: 7rem;
}
.text-2 {
  text-align: center;
  font-size: 1.1rem;
  padding-top: 1rem;
}
.text-3 {
  text-align: center;
  font-size: 1.4rem;
  padding-right: 18rem;
  padding-left: 18rem;
  padding-bottom: 3rem;
}
.arrows {
  display: flex;
  gap: 1rem;
  padding-bottom: 7rem;
  color: black;
}
.arrow-left-1 {
  background-color: none;
  border: none;
  border-radius: 50%;
}
.arrow-right-1 {
  background-color: none;
  border: none;
  border-radius: 50%;
}
.arrow-left {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.arrow-right {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.follow {
  padding: 1rem 3rem;
  background-color: rgb(255, 232, 186);
}
.follow-1 {
  text-align: center;
  font-weight: 400;
  font-size: 3.5rem;
}
.follow-1 a {
  color: black;
  text-decoration: 1px underline;
}
.dogs-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dogs {
  height: 300px;
  object-fit: cover;
  border-radius: 40px;
}
.pup {
  padding-bottom: 3rem;
  text-align: center;
}
footer {
  padding: 1rem 3rem;
  background-color: rgb(255, 232, 186);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.column-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.social {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.web-name-1 {
  font-size: 25px;
}
.made {
  font-size: 14px;
}
.made a {
  color: black;
}
.column-2 {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
.column-2 nav ul li a {
  color: black;
}
.column-2 nav ul li {
  list-style: none;
}
.column-3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.email-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 1px solid rgb(241, 241, 241);
}
.email {
  padding: 1.2rem 0rem;
  padding-left: 0.5rem;
  padding-right: 5rem;
  border: rgb(224, 224, 224);
  border-radius: 1px solid rgb(255, 255, 255);
}
.sing-up {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-color: rgb(255, 232, 186);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 0.8rem;
}
.sing-up:hover {
  font-size: 1rem;
  background-color: black;
  color: white;
  transition-duration: 0.4s;
  transition-delay: 0.155556s;
  opacity: 1;
}
.made-1 {
  display: none;
}
@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  .burger-btn-wrapper {
    display: block;
  }
  header {
    align-items: center;
    padding-bottom: 2rem;
  }
  h1 {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3rem;
  }
  main {
    padding: 1rem 1.5rem;
  }
  .main-dog {
    padding: 1rem 0rem;
    width: 100%;
    height: 250px;
    border-radius: 65px;
  }
  .web-name {
    font-size: 18px;
  }
  .about {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
    padding-right: 0;
  }
  .text {
    font-size: 0.9rem;
    padding-left: 0rem;
    padding-top: 1rem;
    padding-right: 0rem;
    letter-spacing: 0.04rem;
    line-height: 1.2rem;
  }
  .welcome-1 {
    padding: 0rem 0rem;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.02rem;
  }

  .learn {
    padding-left: 0;
  }
  .collar {
    grid-template-columns: 1fr;
  }
  .collar-dog {
    height: 100%;
    width: 84%;
    padding-left: 1px;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
  }
  .collar-neckles {
    position: relative;
  }
  .collar-neckles > img {
    height: 300px;
    padding: 0rem;
    font-size: 8px;
    position: relative;
    top: 0rem;
    right: 3rem;
  }
  .collar-neckles-1 {
    position: absolute;
  }
  .collar-button {
    position: absolute;
    left: -8rem;
    top: 6rem;
    font-size: 10px;
    opacity: 0;
    background-color: white;
    padding: 0.8rem;
    font-size: 10px;
  }
  .collar-button:hover {
    position: absolute;
    font-size: 13px;
    left: -8rem;
    top: 6rem;
    background-color: black;
    color: white;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    opacity: 1;
  }
  .price {
    padding-top: 1rem;
    line-height: 1.2rem;
    text-align: center;
    text-decoration: none;
    padding-left: 7rem;
  }
  .price a {
    text-decoration: none;
    color: black;
  }
  .belts {
    padding: 1rem 1rem;
    padding-top: 1rem;
    background-color: rgb(230, 216, 249);
    height: 630px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .green-belt {
    height: 380px;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
  }
  .card-2,
  .card-3 {
    display: none;
  }

  .shop-1 {
    background-color: rgb(230, 216, 249);
    color: black;
    border-radius: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-top: 9px;
  }

  .shop-1:hover {
    font-size: 1.2rem;
    background-color: black;
    color: rgb(230, 216, 249);
    transition-timing-function: ease;
    transition-duration: 0.4s;
    transition-delay: 0.155556s;
    opacity: 1;
  }

  .text-1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    text-wrap: wrap;
  }
  .text-2 {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 1rem;
    text-wrap: wrap;
  }
  .text-3 {
    text-align: center;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-wrap: wrap;
  }

  .bone-dog {
    height: 50px;
  }
  .follow {
    padding: 2rem 1rem;
    background-color: rgb(255, 232, 186);
  }
  .follow-1 {
    text-align: center;
    font-weight: 300;
    font-size: 2.7rem;
    line-height: 2.7rem;
  }
  .follow-1 a {
    color: black;
    text-decoration: 1px underline;
  }
  .dogs-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dogs {
    height: 156px;
    object-fit: cover;
    width: 50%;
    border-radius: 40px;
    padding: 0.5rem;
  }
  .pup {
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  footer {
    padding: 1rem 1rem;
    background-color: rgb(255, 232, 186);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .column-1 {
    display: flex;
    flex-direction: row;
    gap: 11rem;
  }
  .social {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
  }
  .web-name-1 {
    font-size: 18px;
  }
  .column-2 {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
  }
  .column-2 nav ul li a {
    color: black;
  }
  .column-2 nav ul li {
    list-style: none;
  }

  .column-3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .email-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 5rem;
    border-radius: 1px solid rgb(0, 0, 0);
  }
  .email {
    height: 3.8rem;
    width: 17rem;
    font-weight: 10.3;
    font-size: 1rem;
    letter-spacing: 0.03rem;
  }
  .sing-up {
    background-color: rgb(255, 232, 186);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    width: 8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sing-up:hover {
    width: 8rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    transition-delay: 0.155556s;
    opacity: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .made {
    display: none;
  }
  .arrows {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    color: black;
  }
}
